```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
data/db.sqlite

# Logs
*.log

# Environment
.env
.env.local
*.env.*

# Dependencies
.venv/
venv/
pip-log.txt
pipenv.lock

# Coverage
.coverage
htmlcov/
.coverage.*
.nox/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Build
build/
dist/
*.egg-info/
```